<div>
  <h2 id="page-heading" data-cy="MetricSampleHeading">
    <span jhiTranslate="emsApp.metricSample.home.title">Metric Samples</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="emsApp.metricSample.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-metric-sample"
        [routerLink]="['/metric-sample/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="emsApp.metricSample.home.createLabel">Thêm mới một Metric Sample</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (metricSamples().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="emsApp.metricSample.home.notFound">No Metric Samples found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="cpuUsage">
              <div class="d-flex">
                <span jhiTranslate="emsApp.metricSample.cpuUsage">Cpu Usage</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="ramUsage">
              <div class="d-flex">
                <span jhiTranslate="emsApp.metricSample.ramUsage">Ram Usage</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="diskUsage">
              <div class="d-flex">
                <span jhiTranslate="emsApp.metricSample.diskUsage">Disk Usage</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="pingLatencyMs">
              <div class="d-flex">
                <span jhiTranslate="emsApp.metricSample.pingLatencyMs">Ping Latency Ms</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="collectedAt">
              <div class="d-flex">
                <span jhiTranslate="emsApp.metricSample.collectedAt">Collected At</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="device.name">
              <div class="d-flex">
                <span jhiTranslate="emsApp.metricSample.device">Device</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (metricSample of metricSamples(); track trackId(metricSample)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/metric-sample', metricSample.id, 'view']">{{ metricSample.id }}</a>
              </td>
              <td>{{ metricSample.cpuUsage }}</td>
              <td>{{ metricSample.ramUsage }}</td>
              <td>{{ metricSample.diskUsage }}</td>
              <td>{{ metricSample.pingLatencyMs }}</td>
              <td>{{ metricSample.collectedAt | formatMediumDatetime }}</td>
              <td>
                @if (metricSample.device) {
                  <div>
                    <a [routerLink]="['/device', metricSample.device.id, 'view']">{{ metricSample.device.name }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/metric-sample', metricSample.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
                  </a>

                  <a [routerLink]="['/metric-sample', metricSample.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span>
                  </a>

                  <button type="submit" (click)="delete(metricSample)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (metricSamples().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
