<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-audit-log-heading" data-cy="AuditLogCreateUpdateHeading" jhiTranslate="emsApp.auditLog.home.createOrEditLabel">
        Thêm mới hoặc cập nhật Audit Log
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let usernameRef = editForm.get('username')!;
        <div class="mb-3">
          <label class="form-label" for="field_username" jhiTranslate="emsApp.auditLog.username">Username</label>
          <input type="text" class="form-control" name="username" id="field_username" data-cy="username" formControlName="username" />
          @if (usernameRef.invalid && (usernameRef.dirty || usernameRef.touched)) {
            <div>
              @if (editForm.get('username')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
              @if (editForm.get('username')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >Trường này không được vượt quá 255 ký tự.</small
                >
              }
            </div>
          }
        </div>

        @let actionRef = editForm.get('action')!;
        <div class="mb-3">
          <label class="form-label" for="field_action" jhiTranslate="emsApp.auditLog.action">Action</label>
          <input type="text" class="form-control" name="action" id="field_action" data-cy="action" formControlName="action" />
          @if (actionRef.invalid && (actionRef.dirty || actionRef.touched)) {
            <div>
              @if (editForm.get('action')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
              @if (editForm.get('action')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >Trường này không được vượt quá 255 ký tự.</small
                >
              }
            </div>
          }
        </div>

        @let entityNameRef = editForm.get('entityName')!;
        <div class="mb-3">
          <label class="form-label" for="field_entityName" jhiTranslate="emsApp.auditLog.entityName">Entity Name</label>
          <input
            type="text"
            class="form-control"
            name="entityName"
            id="field_entityName"
            data-cy="entityName"
            formControlName="entityName"
          />
          @if (entityNameRef.invalid && (entityNameRef.dirty || entityNameRef.touched)) {
            <div>
              @if (editForm.get('entityName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
              @if (editForm.get('entityName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >Trường này không được vượt quá 255 ký tự.</small
                >
              }
            </div>
          }
        </div>

        @let entityIdRef = editForm.get('entityId')!;
        <div class="mb-3">
          <label class="form-label" for="field_entityId" jhiTranslate="emsApp.auditLog.entityId">Entity Id</label>
          <input type="text" class="form-control" name="entityId" id="field_entityId" data-cy="entityId" formControlName="entityId" />
          @if (entityIdRef.invalid && (entityIdRef.dirty || entityIdRef.touched)) {
            <div>
              @if (editForm.get('entityId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_detail" jhiTranslate="emsApp.auditLog.detail">Detail</label>
          <textarea class="form-control" name="detail" id="field_detail" data-cy="detail" formControlName="detail"></textarea>
        </div>

        @let timestampRef = editForm.get('timestamp')!;
        <div class="mb-3">
          <label class="form-label" for="field_timestamp" jhiTranslate="emsApp.auditLog.timestamp">Timestamp</label>
          <div class="d-flex">
            <input
              id="field_timestamp"
              data-cy="timestamp"
              type="datetime-local"
              class="form-control"
              name="timestamp"
              formControlName="timestamp"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (timestampRef.invalid && (timestampRef.dirty || timestampRef.touched)) {
            <div>
              @if (editForm.get('timestamp')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('timestamp')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Trường này phải là định dạng thời gian.</small
              >
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Hủy</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
