<div>
  <h2 id="page-heading" data-cy="CredentialHeading">
    <span jhiTranslate="emsApp.credential.home.title">Credentials</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="emsApp.credential.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-credential"
        [routerLink]="['/credential/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="emsApp.credential.home.createLabel">Thêm mới một Credential</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (credentials().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="emsApp.credential.home.notFound">No Credentials found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="emsApp.credential.name">Name</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="authType">
              <div class="d-flex">
                <span jhiTranslate="emsApp.credential.authType">Auth Type</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="username">
              <div class="d-flex">
                <span jhiTranslate="emsApp.credential.username">Username</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="encryptedSecret">
              <div class="d-flex">
                <span jhiTranslate="emsApp.credential.encryptedSecret">Encrypted Secret</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (credential of credentials(); track trackId(credential)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/credential', credential.id, 'view']">{{ credential.id }}</a>
              </td>
              <td>{{ credential.name }}</td>
              <td [jhiTranslate]="'emsApp.AuthType.' + (credential.authType ?? 'null')">
                {{ { null: '', PASSWORD: 'PASSWORD', SSH_KEY: 'SSH_KEY' }[credential.authType ?? 'null'] }}
              </td>
              <td>{{ credential.username }}</td>
              <td>{{ credential.encryptedSecret }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/credential', credential.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
                  </a>

                  <a [routerLink]="['/credential', credential.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span>
                  </a>

                  <button type="submit" (click)="delete(credential)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (credentials().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
